@model IEnumerable<EGrades.Models.Direction>
@{
    ViewData["Title"] = "Λίστα Κατευθύνσεων";
}

<h1>Λίστα Κατευθύνσεων</h1>

<hr />

<div class="table-responsive">
    <table id="directions-list-table" class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(d => d.Name)</th>
                <th>Ενέργειες</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Courses" asp-route-id="@item.Id">Μαθήματα</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Σφάλμα!</strong> @TempData["ErrorMessage"]
    </div>
}

<hr />

<a class="btn btn-primary" href="javascript:history.go(-1)" role="button">Πίσω</a>

@section scripts
{
    @{
        await Html.RenderPartialAsync("_ListLayout");

        <script>
            $(document).ready(function () {
                $('#directions-list-table').DataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Greek.json"
                    }
                });
            });
        </script>
    }
}