
@{
    ViewData["Title"] = "Σχετικά";
}

<h1>Σχετικά</h1>

<div class="col-8">
    <hr />

    <p class="text-justify">
        Υπάρχει η ανάγκη για τη δημιουργία ενός διαδικτυακού χώρου, όπου θα παρέχονται
        στους μεταπτυχιακούς φοιτητές του Προγράμματος Μεταπτυχιακών Σπουδών «Επιστήμη
        της Πληροφορικής» του Πανεπιστημίου Αττικής, διάφορες υπηρεσίες που αφορούν τις
        σπουδές τους (π.χ. προβολή βαθμολογιών).

        <br /><br />

        Το Πανεπιστήμιο Αττικής δεν παρέχει ένα τέτοιο πληροφοριακό σύστημα στους μεταπτυχιακούς
        φοιτητές. Ένα τέτοιο σύστημα θα βελτιώσει άμεσα τις παρεχόμενες υπηρεσίες του Πανεπιστημίου
        προς τους φοιτητές και θα ψηφιοποιήσει συγκεκριμένες διαδικασίες της Γραμματείας. Στα πλαίσια
        της εργασίας αυτής αναπτύχθηκε ένα πρωτότυπο πληροφοριακό σύστημα που θα εκτελεί τις παραπάνω
        λειτουργίες.

        <br /><br />

        Το σύστημα αυτό υλοποιήθηκε με σύγχρονες τεχνολογίες (ASP.NET Core) πράγμα που το καθιστά εύκολα
        συντηρήσιμο και επεκτάσιμο. Δεν χρησιμοποιήθηκε κάποιο Content Management System (CMS), αλλά φτιάχτηκε
        όλο από την αρχή.
    </p>

    <hr />

    <a class="btn btn-primary" href="javascript:history.go(-1)" role="button">Πίσω</a>
</div>