<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EGrades | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><span class="navbar-toggler-icon"></span></a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" alt="Logo" style="width:100px;height:30px;"></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div id="wrapper" class="toggled">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    Menu
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Profile">Το Προφίλ μου</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Enrollment" asp-action="Index">Οι Δηλώσεις μου</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Grade" asp-action="Filter" asp-route-id="Passed">Οι Βαθμολογίες μου</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Certificate" asp-action="Index">Πιστοποιητικά</a>
                </li>
            </ul>
        </div>

        <div id="page-content-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            EGrades &copy; 2019 - <a asp-area="" asp-controller="Home" asp-action="About">Σχετικά</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        var _userway_config = { account: "owJ8FC6ltu" };
    </script>
    <script src="https://cdn.userway.org/widget.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>